<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"
        tools:node="replace" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false"
        tools:node="replace" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"
        tools:node="replace" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".SentinelApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.settings.ImportBackUpActivity"
            android:label="Import"
            android:theme="@style/AppThemeV3"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".ui.utxos.UtxosActivity"
            android:label=""
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeV3" />
        <activity
            android:name=".ui.utxos.UtxoDetailsActivity"
            android:label=""
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeV3" />
        <activity
            android:name=".ui.MigrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeV3" />
        <activity
            android:name=".ui.webview.ExplorerWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeV3" />

        <service
            android:name=".service.WebSocketService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.ImportSegWitService"
            android:exported="false"
            android:stopWithTask="true" />

        <receiver android:name=".service.ActionReceiverImportSegWitService" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeV3" />
        <activity
            android:name=".ui.collectionDetails.CollectionDetailsActivity"
            android:label="@string/title_activity_collection_details"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeV3" />
        <activity
            android:name=".ui.collectionEdit.CollectionEditActivity"
            android:label=""
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeV3" />
        <activity
            android:name=".ui.broadcast.BroadcastTx"
            android:label=""
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeV3" />
        <activity
            android:name=".ui.broadcast.BroadcastFromComposeTx"
            android:label=""
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeV3" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeV3" /> <!-- <activity -->
        <!-- android:name=".ui.home.HomeActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/AppTheme.Launcher"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".ui.settings.NetworkActivity"
            android:label="Network"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeV3" />

        <provider
            android:name=".util.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
